#top_container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 3px;
  padding: 50px;
}


#result {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  padding: 50px;
}

#letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}

.scorecard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 50px;
}

.scorecardItems {
    background: #ffeead;
    font-size: 20px;
    text-align: center;
}
